*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.title-container{
  background-color: white;
  font-size: 30px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.title-container h2{
  padding-top: 15px;
}

